<!DOCTYPE html>
<html>
    <head>
        <title> HTML Cheat Sheet</title>
    </head>
    <body>
        <!-- Headings -->
         <h1>Heading One</h1>
         <h2>Heading Two</h2> 
         <h3>Heading Three</h3> 
         <h4>Heading Four</h4> 
         <h5>Heading Five</h5> 
         <h6>Heading Six</h6> 
        <!-- Paragraph -->
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi deserunt reprehenderit tenetur, cupiditate excepturi amet ipsum consectetur magnam voluptatem exercitationem commodi error, alias accusamus earum quae in ipsa officia quia. Obcaecati magnam laborum eos odio labore est, amet eius? Sed culpa praesentium est atque. Earum repellat voluptate et ullam impedit corporis delectus, aut officia vitae, accusamus minima, hic provident perferendis nulla quas! Quam aperiam consequatur iusto a nisi? Earum natus ab quas, repellat consequatur molestias tempore expedita quibusdam at alias nostrum asperiores error sed explicabo recusandae, accusamus deleniti, modi repellendus officiis neque nisi. Error voluptatem ullam magnam quaerat quam sed.


         </p>
         <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, consectetur ducimus. Blanditiis repellat harum nam qui exercitationem magnam consequuntur explicabo maxime dignissimos? Ad placeat dicta fuga reprehenderit repudiandae. Excepturi nesciunt eligendi debitis nostrum, nam labore quas aut laborum illo explicabo, itaque, consequatur suscipit ad? Nisi tempora rem accusamus quas explicabo esse sapiente sint ad ipsam atque itaque perferendis soluta culpa dolorem velit eligendi facere molestiae modi beatae, blanditiis animi aliquid aspernatur. Atque excepturi aut quod error, eligendi explicabo consectetur similique, consequatur deleniti quas amet unde impedit nobis soluta. Nobis, reiciendis saepe dolores ducimus maiores fugit mollitia inventore dolorum aliquam laborum!
         </p>
         

    </body>
</html>